<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sourmilk Homepage</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Da+2" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
{% block title %}{% endblock %}
   </style>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'milk/style.css' %}">
</head>
<body>
{% include 'milk/includes/nav.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" id="sidead">
        <div class="container">
            {% block sidebar %} {% include 'milk/includes/sidebar.html' %} {% endblock sidebar %}
        </div>
        </div>
    <div class="col-sm col-lg-9">
            {% block content %} {% endblock %}
        </div>
    </div>

</div>
</body>
</html>
