<style>

       #spbox{border: 1px ;
            max-height:200px; max-width:125px;
            padding:0px;
            border-radius:16px;
            margin-top:16px;
            -moz-box-shadow: 5px 5px 5px #777777;
            -webkit-box-shadow: 5px 5px 5px #777777;
            box-shadow: 4px 4px 4px skyblue, -5px -5px 5px whitesmoke;
                }


</style>
{% block state_product_list %}
  {% if forloop.first %}
    <div class="row">
  {% endif %}

  <div class="col-lg-2">

<center>
    <div id="spbox">
    <div id="pic" style="background-image:url('{{ state_product.picture.url }}')"></div>
        <small>
            <strong style="color: blue;">{{ state_product.name }}</strong><br>
            ${{ state_product.price }} | {{ state_product.shop.location }}<br>
            <a href="{% url 'product_detail' state_product.slug %}" id="more">read more</a>
        </small>

</div>
</center>


  </div>
{% if forloop.counter|divisibleby:6 %}
    </div>
  <div class="row">
{% endif %}
{% if forloop.last %}
</div>
{% endif %}
{% endblock %}
