<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Da+2" type="text/css">
    <style>
    { font-family:"montserrat Thin"; src: url('main/milk/static/fonts/BalooDa2-Regular.ttf');}
</style>
</head>
<body>
                     <img src="smileboy.jpg " >
    <h2 class="text-center my-3">Bootstrap Responsive Layout</h2>
	<div class="text-center">Open the output in a new blank tab (Click the arrow next to "Show Output" button
        ) and resize the browser window to understand how the Bootstrap responsive grid system works.</div>
</body>
</html>
