{% block searched_products %}
  {% if forloop.first %}
    <div class="row">
  {% endif %}

  <div class="col-4">
      <center>
        <div id="box-sm">
            <div id="pro-pic-sm" style="background-image:url('{{ product.pic1.url }}')"></div>
            <small id="product_info">
                <strong style="color:brown; white-space:nowrap;">{{ product.name }}</strong><br>
                <span style="white-space:nowrap; width:105px;">
                    ${{ product.price }} | {{ product.shop.location }}
                </span><br>
                <a href="{% url 'product_detail' product.slug %}" id="more">read more</a>
            </small>
        </div>
      </center>
  </div>
{% if forloop.counter|divisibleby:3 %}
    </div>

  <div class="row">
{% endif %}
{% if forloop.last %}
</div>
    {% endif %}
{% endblock searched_products %}
